@font-face {
    font-family: 'logo';
    src: url('../fonts/logo.ttf');
}
@font-face {
    font-family: 'main';
    src: url('../fonts/main.ttf');
}
@font-face {
    font-family: 'mainbig';
    src: url('../fonts/mainbig.ttf');
}
body {
    background: #171717;
    margin: 0 0;
}
header {
    text-align: center;
    padding: 15px;
    background: url('../pictures/bg.png');
    background-size: cover;
    border-radius: 0 0 30px 30px;
    font-size: 130%;
}
#white, h3 {
    color: white;
    text-shadow: 0 0 20px white;
}
#red, h2 {
    color: #ff4055;
    text-shadow: 0 0 20px #ff4055;
}
#invb {
    background: transparent;
    box-shadow: 0 0 0;
    color: white;
    border: 0;
}
#bar {
    text-align: right;
    padding-right: 15px;
}
#menu {
    height: 30px;
    width: 30px;
}
h1 {
    font-family: logo;
}
h2 {
    font-family: mainbig;
}
h3 {
    font-family: main;
}
.box, footer {
    background: #242424;
    padding: 15px;
    border-radius: 30px;
}
#warn {
    padding: 15px;
}
input, button {
    border: 0;
    border-radius: 30px;
    background: #2a2a2a;
    color: white;
    outline: 0;
    padding: 15px;
    font-family: mainbig;
}
button {
    background: #ff4055;
    text-shadow: 0 0 20px white;
    font-family: mainbig;
}
footer {
    background-image: url('../pictures/bg.png');
}
